# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================

venv/
.venv/
env/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Python Tools
# ==========================================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================================
# Environment
# ==========================================

.env

# ==========================================
# OS
# ==========================================

Thumbs.db
.DS_Store

# ==========================================
# Project Files
# ==========================================

history.json
settings.json